<nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark"> <!--style="background-color: #e3f2fd;"-->
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}"><strong style="color: white;">All'n Capital</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Base de Datos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'ver-datos' %}">Ver Datos</a></li>
              <li><a class="dropdown-item" href="{% url 'insertar-datos' %}">Crear Registro</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Gráficas
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'grafica-porcentaje' %}">Variación</a></li>
              <li><a class="dropdown-item" href="{% url 'grafica-absoluto' %}">Ventas y variación</a></li>
            </ul>
          </li>

          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" style="color:yellow" href="{% url 'logout' %}">Cerrar Sesión</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>